@media (min-width: 1320px) { 
	.container{max-width:1320px;}		
}
@media (max-width: 1319px) { 
	.container{max-width:100% !important;}		
}
@media (min-width: 992px) {
	
}
@media (min-width: 768px) {
	.player-left-col{-ms-flex: 0 0 35%;flex: 0 0 35%;max-width: 35%;}
	.player-right-col{-ms-flex: 0 0 65%;flex: 0 0 65%;max-width: 65%;}
}
@media (max-width: 1199.98px) { 
	
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
	
}
@media (max-width: 991.98px) { 
	
}
@media (min-width: 768px) and (max-width: 991.98px) { 
	
}
@media (max-width: 767.98px) { 
	
}
@media (min-width: 576px) and (max-width: 767.98px) { 
	
}
@media (min-width: 576px){
	
}
@media (max-width: 575.98px) { 
	
}
@media (max-width: 479.98px) { 
		
}