body{
	margin:0px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
	font-size:16px;
	color:#19243f;
}

/*-------comon classes-----------*/
body *{
	transition: all 0.2s ease;
}
img{
	border:0px;
	max-width:100%;
}
ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#19243f;
}
a:hover{
	color:#19243f;
	text-decoration:none;
}
.text-theme-color{
	color: #19243f;
}
.text-orange{
	color: #f65904;
}
.text-dark{
	color: #222222 !important;
}
.text-grey{
	color: #757d8e;
}
.text-light{
	color: #bdc2ce !important;
}
.text-14{
	font-size:14px;	
}
.text-15{
	font-size:15px;	
}
.text-16{
	font-size:16px !important;	
}
.text-18{
	font-size:18px;	
}
.text-20{
	font-size: 20px;
}
.text-40{
	font-size: 40px;
}
.font-weight-500{
	font-weight: 500;
}
.font-weight-600{
	font-weight: 600;;
}
.cursor-pointer{
	cursor: pointer;
}

.after-none::after{
	display:none !important;
	content:"";
}
.btn{
	box-shadow:none !important;
}
.btn-theme{
    color: #fff !important;
    background-color: #f65904;
    border-color: #f65904;
	border-radius:100px;
	font-weight: 600;;
}
.btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme:not(:disabled):not(.disabled):active{
    background-color: #e75303;
    border-color: #e75303;
}
.btn-blue{
	background-color: #19243f;
    border-color: #19243f;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue:not(:disabled):not(.disabled):active{
    background-color: #111c38;
    border-color: #111c38;
}
.bg-gray {
    background-color: #eff0f5 !important;
}
/*-------comon classes-----------*/
.header{
	z-index: 9;
}
.top-right{
	padding-top: 3px;
	padding-bottom: 3px;
}
.top-right .btn-theme{
	padding: 5px 25px 6px 25px;
}
.humburg-ic{
	margin-left: 40px;
}
.header .navbar-brand{
	padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    z-index: 99999;
    top: 10px;
}
.footer-tp{
	padding: 24px 0px;
	background: #f65904;
}
.footer-tp h3{
	font-size: 38px;
	font-weight: 700;
}
.ftr-base-ic{    
	position: absolute;
	right: 20%;
    bottom: -26px;
}
.ftr-register-btn{
	margin-right: 51%;
}
.footer-top{
	padding:25px 0px;	
}
.footer-links .list-inline-item:not(:last-child){
	margin-right: 25px;
}
.social-links .list-inline-item:not(:last-child){
	margin-right:17px;
}
.social-links li a{
	width: 57px;
	height: 57px;
	background: #19243f;
	border-radius: 100px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
	color: #939aac;
}

.badge {
    padding: 6px 10px;
    font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.badge-orange {
    color: #fff;
    background-color: #f65904;
}
.section-title{
	font-size: 40px;
	font-weight: 700;	
	margin-bottom: 40px;
}

.news-item{
	margin-bottom: 40px;
}
.news-thumb{
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.17);
	border-radius: 5px;
}
.news-title{
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	margin-bottom: 25px;
}
.news-detail{
	font-size: 14px;
	font-weight: 600;
}
.news-day{
	color: #bdc2ce;
}
.news-day::before{
	content: "/";
	padding: 0px 10px;
}

.player-thumb{
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.10);
	border-radius: 5px;
}
.player-name{
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 25px;
}
.pl-dt-item{
	line-height: 26px;
	margin-bottom: 15px;
}
.pl-dt-item .pl-dt-label{
	width:115px;
	float: left;
	font-weight: 600;
}
.pl-dt-item p{
	display: table;
	margin-bottom: 0px;
}
.pl-dt-item p .text-light{
	color: #757d8e !important;
}
.player-detail > .pl-dt-item:last-child{
	margin-bottom: 0px;
}

.video-item{
	border: none;
	box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.17);
}
.video-item .card-body{
	padding-bottom: 100px;
	padding-top: 15px;
}
.video-item .card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	overflow: hidden;
	position: relative;
}
.play-ic{
	position: absolute;
	z-index: 99;
    top: 50%;
	left: 50%;
	margin: -35px 0px 0px -35px;
}
.video-title{
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin-bottom: 0px;
}
.video-time{
	color: #bdc2ce;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}

.slider .slider-content{
	padding-top: 200px;
	padding-bottom: 200px;
}
.slider .carousel-item{
	background-size: cover;
	background-position: center center;
}
.slider .carousel-item h1{
	font-size: 80px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 30px;
}
.badge-red {
    color: #fff;
    background-color: #d4321c;
}
.slider .carousel-item p{
	font-size: 18px;
	color: #ffa200;
	line-height: 30px;
}
.carousel-control-section {
	position: absolute;
	bottom: 80px;
}
.carousel-control-section.carousel-next {
	margin-left: 50px;
}
.carousel-control-section.carousel-prev .nav-ic{
	transform: rotate(180deg);
}
.carousel-control-section .nav-ic {
    width: 33px;
    height: 10px;
    display: inline-block;
	background: url(../images/slider-aero.png) left top no-repeat;
	opacity: 0.4;
}
.carousel-control-section .nav-ic:hover{
	opacity: 1;
}

.modal-backdrop{
	background-color: #19243f;
}
.modal-backdrop.show {
    opacity: 0.92;
}
.login-dialog{
	max-width: 650px;
}
.login-content{
	padding-left: 110px;
	padding-right: 110px;
}
.login-content .btn-theme{
	height: 54px;
	padding: 12px 0px;
	max-width: 422px;
}
.form-group label{
	color: #bdc2ce;
	line-height: 26px;
	font-weight: 500;
}
.form-group .form-control{
	box-shadow: none;
	border: 2px solid #d2d5dd;
	border-radius:100px;
	height:54px;
	padding:12px 25px;
	color: #19243f;
	font-weight:500;
}
.form-group .form-control:focus{
	border-color: #19243f ;
}
.form-group .form-control::placeholder{
	color: #bdc2ce;
	font-weight:400;
}
.password-ic{
	position: absolute;
    right: 30px;
    bottom: 15px;
    z-index: 9999999;
}
.register-dialog{
	max-width: 875px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before, 
.custom-control-input:checked~.custom-control-label::before, 
.custom-radio .custom-control-input:checked~.custom-control-label::before,  
.custom-control-input:checked~.custom-control-label::before {
    background-color: #f65904;
	box-shadow: none !important;
}
.custom-control-label::before, .custom-control-label::after{
	width: 20px;
	height: 20px;
	box-shadow: none !important;
}
.custom-radio .custom-control-label{
	font-weight: 400;
	transition: all 0s;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label{
	font-weight: 500;
	color: #19243f;
}
.custom-radio .custom-control-label::before {
    background: transparent;
    border: 2px solid #bec3cf;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before{
	border: 2px solid #f65904;
	background: transparent;
}  
.custom-radio .custom-control-input:checked~.custom-control-label::after{
	width: 10px;
    height: 10px;
    background: #f65904;
    border-radius: 100px;
    margin-left: 5px;
    margin-top: 5px;
}  
.custom-checkbox .custom-control-label::before {
    background: transparent;
    border: 2px solid #bec3cf;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    border: 2px solid #f65904;
}